<div class="content">
    <h1><%= @patient.name + ' ' + @patient.last_name%></h1>
  <table class="table patient">
    <tr>
      <th>Data di nascita</th>
      <td><%= @patient.birth_date%></td>
    </tr>
    <tr>
      <th>Familiarità</th>
      <td><%= @patient.familiarity%></td>
    </tr>
    <tr>
      <th>Fumatore</th>
      <td><%= @patient.smoker%></td>
    </tr>
    <tr>
      <th>Ultima igiene</th>
      <td><%= @patient.last_hygiene%></td>
    </tr>
    <tr>
      <th>Ananmesi</th>
      <td><%= @patient.anamnesis%></td>
    </tr>
    <tr>
      <th>Allergie</th>
      <td><%= @patient.allergies%></td>
    </tr>
    <tr>
      <th>Intolleranze</th>
      <td><%= @patient.intollerances%></td>
    </tr>
    <tr>
      <th>Farmaci</th>
      <td><%= @patient.drugs%></td>
    </tr>
  </table>
  <button class="btn btn-info center-block"><%= link_to 'modifica dati paziente', edit_patient_path(@patient)%></button>
<hr />
  <h2>Esami precedenti</h2>
  <% if @patient.exams.present? %>
  <table class="table table-striped">
    <tr>
      <th class="exams-date">Data esame</th>
      <th class="exams-type">Tipo</th>
      <th class="exams-notes">Note</th>
    </tr>
    <% @exams.each do |e| %>
      <tr>
        <td><%= link_to e.created_at.to_date, exam_path(e) %></td>
        <td><%= e.exam_type %></td>
        <td><%= e.notes %></td>
      </tr>
    <% end %>
  </table>
  <% else %>
    <h5>Questo paziente non ha esami registrati a suo nome</h5>
  <% end %>
  <button class="btn btn-info center-block"><%= link_to 'Nuovo esame', new_exam_path(:patient_id => @patient)%></button>
</div>
